Project-2/Filled AutoScout.ipynb

In [172]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10, 6)

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("cleaned_autoscout.csv")

In [3]:
df.head()

,short_description,body_type,price_€,vat,km,registration,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr._of_doors,nr._of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country
0,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770.000,VAT deductible,56013.000,2016.000,2.000,66.000,Used,2.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz,Cloth,5.000,5.000,Automatic,1422.000,3.000,1220.000,front,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.300,3.500
1,1.8 TFSI sport,Sedans,14500.000,Price negotiable,80000.000,2017.000,NaN,141.000,Used,NaN,NaN,Audi,A1,Red,NaN,NaN,Cloth,3.000,4.000,Automatic,1798.000,4.000,1255.000,front,Benzine,129.000,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",7.000,NaN,5.600,7.100,4.700
2,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640.000,VAT deductible,83450.000,2016.000,1.000,85.000,Used,1.000,NaN,Audi,A1,Black,Metallic,mythosschwarz metallic,Cloth,4.000,4.000,Automatic,1598.000,NaN,NaN,front,Diesel,99.000,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.400,3.400
3,1.4 TDi Design S tronic,Sedans,14500.000,NaN,73000.000,2016.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Brown,Metallic,NaN,NaN,3.000,4.000,Automatic,1422.000,3.000,1195.000,NaN,Diesel,99.000,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",6.000,NaN,3.800,4.300,3.500
4,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790.000,NaN,16200.000,2016.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz Metallic,Cloth,5.000,5.000,Automatic,1422.000,3.000,NaN,front,Diesel,109.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,Germany,4.100,4.600,3.800

In [4]:
df.shape

(15919, 36)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr._of_doors            15707 non-null  float64
 18  nr._of_seats            14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety_&_security       14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [6]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr._of_doors                212
nr._of_seats                977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety_&_security           982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [7]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr._of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr._of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_country,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [10]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

In [11]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [12]:
df[df.body_type.isnull()].sample(5)

,short_description,body_type,price_€,vat,km,registration,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr._of_doors,nr._of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country
14480,1.2i Life,NaN,10000.000,NaN,8000.000,2018.000,NaN,54.000,Used,NaN,NaN,Renault,Clio,Red,NaN,NaN,Cloth,5.000,5.000,Manual,NaN,5.000,1134.000,NaN,Benzine,127.000,Euro 4,"Air conditioning,Cruise control,Electrical sid...","Bluetooth,Hands-free equipment,On-board comput...",NaN,"ABS,Central door lock,Central door lock with r...",5.000,NaN,5.600,7.200,4.700
15556,V Espace Zen Dci 160 Energy Edc,NaN,30160.000,NaN,10.000,NaN,NaN,118.000,Used,NaN,NaN,Renault,Espace,Grey,NaN,Gris,NaN,5.000,NaN,Automatic,1598.000,4.000,NaN,NaN,Diesel,120.000,NaN,NaN,NaN,NaN,NaN,6.000,NaN,4.600,NaN,4.400
15696,1.6 dci energy Executive 160cv 7p.ti edc,NaN,38200.000,VAT deductible,1.000,2019.000,NaN,118.000,Pre-registered,NaN,NaN,Renault,Espace,Black,Metallic,Nero,NaN,5.000,7.000,Automatic,1598.000,4.000,NaN,NaN,Diesel,123.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Digital radio,Radio,USB",Touch screen,"ABS,Alarm system,Driver-side airbag,Electronic...",6.000,NaN,4.700,5.100,4.400
6927,1.6 CDTi 81kW (110CV) Selective,NaN,11990.000,NaN,64000.000,2017.000,NaN,81.000,Used,NaN,NaN,Opel,Astra,Black,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Diesel,97.000,NaN,Air conditioning,NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.700,4.200,3.300
13470,Limited 1.2 16v 55kW (75CV) -18,NaN,8490.000,NaN,39990.000,2018.000,NaN,55.000,Used,NaN,NaN,Renault,Clio,White,NaN,NaN,NaN,5.000,NaN,Manual,NaN,NaN,NaN,NaN,Benzine,NaN,NaN,"Air conditioning,Multi-function steering wheel...",NaN,NaN,"ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,NaN,NaN

In [14]:
df[df.body_type.isnull()][["make", "model", "nr._of_doors", "nr._of_seats" ]]

          make     model  nr._of_doors  nr._of_seats
3175      Audi        A3         5.000         5.000
3255      Audi        A3         3.000         5.000
3975      Audi        A3         5.000         5.000
3997      Audi        A3         3.000           NaN
4206      Audi        A3         5.000           NaN
4297      Audi        A3         5.000           NaN
4298      Audi        A3         5.000           NaN
5718      Opel     Astra         5.000           NaN
5938      Opel     Astra         5.000           NaN
5940      Opel     Astra         5.000           NaN
6920      Opel     Astra         5.000           NaN
6922      Opel     Astra         5.000           NaN
6927      Opel     Astra         5.000           NaN
7709      Opel     Astra         5.000           NaN
8408      Opel     Corsa         5.000         5.000
8584      Opel     Corsa           NaN           NaN
10837     Opel  Insignia         5.000           NaN
10838     Opel  Insignia         5.000           NaN
10857     Opel  Insignia         5.000           NaN
13430  Renault      Clio         5.000           NaN
13470  Renault      Clio         5.000           NaN
13576  Renault      Clio         5.000           NaN
13703  Renault      Clio         5.000           NaN
13725  Renault      Clio         5.000           NaN
13852  Renault      Clio         5.000           NaN
13900  Renault      Clio         5.000           NaN
14107  Renault      Clio         5.000           NaN
14124  Renault      Clio         5.000           NaN
14127  Renault      Clio         5.000           NaN
14134  Renault      Clio         5.000           NaN
14135  Renault      Clio         5.000           NaN
14480  Renault      Clio         5.000         5.000
14869  Renault      Clio         5.000         5.000
14870  Renault      Clio         5.000         5.000
14928  Renault    Espace         5.000           NaN
14990  Renault    Espace         5.000           NaN
15058  Renault    Espace         5.000           NaN
15059  Renault    Espace         5.000           NaN
15060  Renault    Espace         5.000           NaN
15124  Renault    Espace         5.000           NaN
15269  Renault    Espace         5.000           NaN
15275  Renault    Espace         5.000           NaN
15289  Renault    Espace         5.000           NaN
15307  Renault    Espace         5.000           NaN
15378  Renault    Espace         5.000           NaN
15437  Renault    Espace         5.000         7.000
15452  Renault    Espace         5.000           NaN
15456  Renault    Espace         5.000           NaN
15457  Renault    Espace         5.000           NaN
15488  Renault    Espace         5.000           NaN
15489  Renault    Espace         5.000         7.000
15491  Renault    Espace         5.000         7.000
15499  Renault    Espace         5.000           NaN
15544  Renault    Espace         5.000           NaN
15556  Renault    Espace         5.000           NaN
15589  Renault    Espace         5.000         7.000
15696  Renault    Espace         5.000         7.000
15712  Renault    Espace         5.000         7.000
15736  Renault    Espace         5.000           NaN
15770  Renault    Espace         5.000           NaN

In [15]:
df.groupby(["make", "model"])["body_type"].value_counts()

make     model     body_type
Audi     A1        Sedans           1538
                   Compact          1039
                   Station wagon      21
                   Other              13
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2598
                   Station wagon     282
                   Compact           182
                   Other              16
                   Convertible         8
                   Coupe               4
Opel     Astra     Station wagon    1211
                   Sedans           1053
                   Compact           185
                   Other              67
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1230
                   Sedans            875
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   Van                 2
         Insignia  Station wagon    1611
                   Sedans            900
                   Other              48
                   Compact            27
                   Off-Road            7
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            918
                   Compact           484
                   Station wagon     337
                   Other              51
                   Transporter        29
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               777
                   Station wagon      91
                   Transporter        52
                   Sedans             21
                   Off-Road            8
                   Other               8
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [16]:
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [17]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [18]:
df.body_type.value_counts(dropna=False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [19]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [20]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [21]:
df.groupby("vat").describe(include="O")

                 short_description                                            \
                             count unique                                top
vat
Price negotiable               415    315         SPB 2.0 TDI S tronic Sport
VAT deductible               10973   7458  SPB 1.6 TDI 116 CV S tronic Sport

                      body_type                        type               \
                 freq     count unique     top  freq  count unique   top
vat
Price negotiable    7       426      9  Sedans   286    426      3  Used
VAT deductible     42     10980      9  Sedans  5248  10980      5  Used

                         make                     model                   \
                  freq  count unique   top  freq  count unique top  freq
vat
Price negotiable   421    426      3  Audi   182    426      7  A3   101
VAT deductible    6787  10980      3  Opel  5415  10980      9  A3  2209

                 body_color                     paint_type                   \
                      count unique    top  freq      count unique       top
vat
Price negotiable        426     10  Black   109        245      1  Metallic
VAT deductible        10586     13  Black  2704       7558      3  Metallic

                       body_color_original                                    \
                  freq               count unique                        top
vat
Price negotiable   245                  17     17  Floretzilver (grijs metal
VAT deductible    7312                9543   1568               Onyx Schwarz

                      upholstery                     gearing_type         \
                 freq      count unique    top  freq        count unique
vat
Price negotiable    1        134      7  Cloth    75          426      3
VAT deductible    314       9780     12  Cloth  6810        10980      3

                               drive_chain                       fuel         \
                     top  freq       count unique    top  freq  count unique
vat
Price negotiable  Manual   204          95      2  front    92    426      4
VAT deductible    Manual  5502        6876      2  front  6762  10980      4

                                emission_class                       \
                      top  freq          count unique     top  freq
vat
Price negotiable   Diesel   223            401      6  Euro 6   361
VAT deductible    Benzine  6183           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety_&_security         \
                  count unique           top  freq             count unique
vat
Price negotiable    372    139  Alloy wheels    71               422    298
VAT deductible     9471    498  Alloy wheels  2092             10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [22]:

df.groupby("vat").describe()

                   price_€                                                  \
                     count      mean      std      min       25%       50%
vat
Price negotiable   426.000 16097.153 6345.227 6250.000 11900.000 15449.500
VAT deductible   10980.000 18708.520 7490.561 4990.000 13490.000 17850.000

                                            km                            \
                       75%       max     count      mean       std   min
vat
Price negotiable 18967.500 57400.000   426.000 45804.671 32718.334 1.000
VAT deductible   22720.000 74600.000 10196.000 31506.393 38380.170 0.000

                                                          registration  \
                       25%       50%       75%        max        count
vat
Price negotiable 21000.000 38500.000 62775.000 185000.000      426.000
VAT deductible    2499.000 19007.000 42210.500 291800.000     9652.000

                                                                              \
                     mean   std      min      25%      50%      75%      max
vat
Price negotiable 2016.660 0.763 2016.000 2016.000 2016.000 2017.000 2019.000
VAT deductible   2017.648 1.067 2016.000 2017.000 2018.000 2018.000 2019.000

                 prev_owner                                            \
                      count  mean   std   min   25%   50%   75%   max
vat
Price negotiable    266.000 1.350 0.544 1.000 1.000 1.000 2.000 4.000
VAT deductible     6777.000 1.042 0.204 1.000 1.000 1.000 1.000 3.000

                     hp_kW                                                     \
                     count   mean    std    min    25%    50%     75%     max
vat
Price negotiable   426.000 88.998 29.264 51.000 66.000 85.000 103.000 294.000
VAT deductible   10929.000 89.466 26.262 44.000 66.000 85.000 104.000 294.000

                 previous_owners                                            \
                           count  mean   std   min   25%   50%   75%   max
vat
Price negotiable         266.000 1.350 0.544 1.000 1.000 1.000 2.000 4.000
VAT deductible          6907.000 1.022 0.246 0.000 1.000 1.000 1.000 3.000

                 warranty                                                   \
                    count   mean    std    min    25%    50%    75%    max
vat
Price negotiable   28.000 16.286 10.937 12.000 12.000 12.000 12.000 60.000
VAT deductible   3351.000 23.916 16.948  1.000 12.000 12.000 24.000 72.000

                 nr._of_doors                                            \
                        count  mean   std   min   25%   50%   75%   max
vat
Price negotiable      421.000 4.665 0.736 2.000 5.000 5.000 5.000 7.000
VAT deductible      10820.000 4.648 0.627 1.000 4.000 5.000 5.000 5.000

                 nr._of_seats                                            \
                        count  mean   std   min   25%   50%   75%   max
vat
Price negotiable      413.000 4.877 0.584 2.000 5.000 5.000 5.000 7.000
VAT deductible      10314.000 4.968 0.430 2.000 5.000 5.000 5.000 7.000

                 engine_displacement_cc                                    \
                                  count     mean     std     min      25%
vat
Price negotiable                416.000 1487.892 774.517 898.000 1229.000
VAT deductible                10729.000 1421.270 327.305   1.000 1229.000

                                             cylinders                    \
                      50%      75%       max     count  mean   std   min
vat
Price negotiable 1461.000 1598.000 16000.000   410.000 3.817 0.440 3.000
VAT deductible   1461.000 1598.000 15898.000  6794.000 3.772 0.424 1.000

                                         weight_kg                            \
                   25%   50%   75%   max     count     mean     std      min
vat
Price negotiable 4.000 4.000 4.000 6.000   403.000 1334.950 208.951 1010.000
VAT deductible   4.000 4.000 4.000 6.000  5632.000 1361.925 221.296    1.000

                                                       co2e_g                  \
                      25%      50%      75%      max    count    mean     std
vat
Price negotiable 1165.000 1278.000 1415.000 2295.000  406.000 113.192  19.089
VAT deductible   1180.000 1308.000 1503.000 2471.000 9684.000 127.441 318.250

                                                             gears        \
                    min     25%     50%     75%       max    count  mean
vat
Price negotiable 36.000  99.000 111.500 124.000   239.000  418.000 5.952
VAT deductible   14.000 105.000 117.000 132.000 14457.000 7484.000 5.956

                                                      consumption_comb        \
                   std   min   25%   50%   75%    max            count  mean
vat
Price negotiable 0.715 5.000 5.000 6.000 6.000  8.000          371.000 4.622
VAT deductible   0.899 1.000 5.000 6.000 6.000 50.000         8604.000 4.935

                                                     consumption_city        \
                   std   min   25%   50%   75%   max            count  mean
vat
Price negotiable 0.882 1.600 3.900 4.500 5.300 9.100          344.000 5.675
VAT deductible   0.908 3.100 4.200 4.900 5.600 8.700         8554.000 6.079

                                                      consumption_country  \
                   std   min   25%   50%   75%    max               count
vat
Price negotiable 1.354 3.300 4.600 5.500 6.800 11.300             387.000
VAT deductible   1.405 3.300 4.800 5.900 7.200 16.100            9021.000


                  mean   std   min   25%   50%   75%   max
vat
Price negotiable 4.063 0.639 3.100 3.600 3.900 4.400 7.800
VAT deductible   4.274 0.683 2.900 3.800 4.200 4.700 7.800

In [23]:
df.vat.fillna(method="ffill").value_counts(dropna=False)

VAT deductible      15048
Price negotiable      871
Name: vat, dtype: int64

In [24]:
df.vat.fillna(method="bfill").value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [25]:
df.vat = df.vat.fillna(method="bfill")

In [26]:
df.vat.value_counts()

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [27]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64
******************************

In [28]:
check_df("type")

column name :  type
--------------------------------
Per_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64
******************************

In [29]:
df.type = df.type.fillna(method="ffill")

In [30]:
df.type.value_counts(dropna=False)

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

In [31]:
check_df("type")

column name :  type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64
******************************

In [33]:
age = 2019 - df.registration
age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: registration, dtype: int64

In [34]:
df["age"] = age

In [35]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [36]:
check_df("age")

column name :  age
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64
******************************

In [37]:
df.groupby("type")["age"].median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [38]:
df["age"] = df.groupby("type").age.apply(lambda x: x.fillna(x.median()))

In [39]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [40]:
check_df("age")

column name :  age
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64
******************************

In [41]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [42]:
df.groupby(["age","type"])["km"].mean()

age    type
0.000  Demonstration     3373.868
       Employee's car    4473.934
       New                 16.987
       Pre-registered     100.649
       Used              3712.171
1.000  Demonstration     8294.200
       Employee's car   19295.278
       New                 53.500
       Pre-registered     435.515
       Used             18807.503
2.000  Demonstration    25327.296
       Employee's car   37926.505
       Pre-registered    1854.000
       Used             41887.938
3.000  Demonstration    45500.000
       Employee's car   59123.647
       Pre-registered      10.000
       Used             77566.423
Name: km, dtype: float64

In [43]:
df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914      16.987
15915    9900.000
15916      15.000
15917      10.000
15918    3373.868
Name: km, Length: 15919, dtype: float64

In [44]:
df["km"] = df.groupby(["age","type"])["km"].apply(lambda x: x.fillna(x.mean()))

In [45]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [46]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
10.000       1045
16.987        848
1.000         367
5.000         170
50.000        148
             ...
53433.000       1
67469.000       1
43197.000       1
10027.000       1
57.000          1
Name: km, Length: 6699, dtype: int64
******************************

In [47]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [48]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [49]:
df.groupby("previous_owners")["prev_owner"].value_counts(dropna=False)

previous_owners  prev_owner
0.000            NaN            188
1.000            1.000         8294
2.000            2.000          778
3.000            3.000           17
4.000            4.000            2
Name: prev_owner, dtype: int64

In [50]:
df.drop(columns="prev_owner", inplace=True)

In [51]:
df.groupby("age")["previous_owners"].value_counts(dropna=False)

age    previous_owners
0.000  NaN                2653
       1.000              1585
       0.000               164
       2.000                10
1.000  1.000              2968
       NaN                1474
       2.000                75
       0.000                 8
2.000  1.000              1715
       NaN                1283
       2.000               296
       3.000                 7
       0.000                 6
       4.000                 1
3.000  1.000              2026
       NaN                1230
       2.000               397
       0.000                10
       3.000                10
       4.000                 1
Name: previous_owners, dtype: int64

In [52]:
df.groupby("age")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    14934
2.000      778
0.000      188
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [53]:
df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [54]:
df.previous_owners = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [55]:
df.previous_owners.value_counts(dropna=False)

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [56]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64
******************************

In [57]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
           ...
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, Length: 81, dtype: int64
******************************

In [58]:
df[df.hp_kW.isnull()][["make", "model"]]

          make   model
1269      Audi      A1
2500      Audi      A1
4259      Audi      A3
7177      Opel   Astra
7670      Opel   Astra
...        ...     ...
15641  Renault  Espace
15647  Renault  Espace
15684  Renault  Espace
15791  Renault  Espace
15906  Renault  Espace

[88 rows x 2 columns]

In [59]:
df.groupby(["make", "model", "body_type"])["hp_kW"].median()

make     model     body_type
Audi     A1        Compact          70.000
                   Coupe            77.500
                   Other            70.000
                   Sedans           70.000
                   Station wagon    70.000
                   Van             147.000
         A2        Off-Road         85.000
         A3        Compact          85.000
                   Convertible     110.000
                   Coupe            81.000
                   Other            85.000
                   Sedans           85.000
                   Station wagon    85.000
Opel     Astra     Compact          81.000
                   Coupe           106.500
                   Off-Road        110.000
                   Other            81.000
                   Sedans           81.000
                   Station wagon   100.000
         Corsa     Compact          66.000
                   Coupe            55.000
                   Off-Road         66.000
                   Other            66.000
                   Sedans           55.000
                   Transporter      55.000
                   Van              51.000
         Insignia  Compact         121.000
                   Coupe            81.000
                   Off-Road        125.000
                   Other           100.000
                   Sedans          103.000
                   Station wagon   121.000
                   Van             121.000
Renault  Clio      Compact          56.000
                   Coupe           147.000
                   Off-Road         71.000
                   Other            56.000
                   Sedans           56.000
                   Station wagon    66.000
                   Transporter      56.000
                   Van              55.000
         Duster    Off-Road         77.000
         Espace    Compact         133.000
                   Coupe           141.500
                   Off-Road        118.000
                   Other           118.000
                   Sedans          118.000
                   Station wagon   118.000
                   Transporter     118.000
                   Van             118.000
Name: hp_kW, dtype: float64

In [60]:
df.hp_kW = df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x : x.fillna(x.median()))

In [61]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
85.000     2543
66.000     2124
81.000     1404
100.000    1309
110.000    1112
           ...
123.000       1
44.000        1
195.000       1
75.000        1
9.000         1
Name: hp_kW, Length: 80, dtype: int64
******************************

In [62]:
check_df("warranty")

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 69.51
Num_of_Nulls   :  11066
NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64
******************************

In [63]:
df.warranty.value_counts(normalize=True)

12.000   0.535
24.000   0.230
60.000   0.083
36.000   0.057
48.000   0.031
6.000    0.026
72.000   0.012
3.000    0.007
23.000   0.002
18.000   0.002
20.000   0.001
25.000   0.001
2.000    0.001
50.000   0.001
26.000   0.001
16.000   0.001
4.000    0.001
1.000    0.001
19.000   0.001
34.000   0.001
13.000   0.001
28.000   0.000
22.000   0.000
14.000   0.000
11.000   0.000
46.000   0.000
21.000   0.000
9.000    0.000
17.000   0.000
45.000   0.000
33.000   0.000
40.000   0.000
65.000   0.000
10.000   0.000
15.000   0.000
7.000    0.000
8.000    0.000
56.000   0.000
49.000   0.000
47.000   0.000
30.000   0.000
Name: warranty, dtype: float64

In [64]:
df.groupby(["make", "model", "age"])["warranty"].mean()

make     model     age
Audi     A1        0.000   27.971
                   1.000   26.300
                   2.000   17.679
                   3.000   13.926
         A2        1.000      NaN
         A3        0.000   27.697
                   1.000   21.707
                   2.000   16.655
                   3.000   17.112
Opel     Astra     0.000   37.804
                   1.000   25.795
                   2.000   14.988
                   3.000   24.797
         Corsa     0.000   27.472
                   1.000   17.355
                   2.000   22.231
                   3.000   27.061
         Insignia  0.000   31.863
                   1.000   25.348
                   2.000   17.058
                   3.000   15.225
Renault  Clio      0.000   35.510
                   1.000   15.686
                   2.000   16.733
                   3.000   10.864
         Duster    0.000   12.000
         Espace    0.000   37.226
                   1.000   22.524
                   2.000   15.922
                   3.000   12.482
Name: warranty, dtype: float64

In [65]:
df["warranty"] = df["warranty"].replace(to_replace=np.nan, value=0).astype("float")

In [66]:
df.loc[df["warranty"] != 0, "warranty"] = 1

In [67]:
check_df("warranty")

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
0.000    11066
1.000     4853
Name: warranty, dtype: int64
******************************

In [68]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [69]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [70]:
df[df.body_color.isnull()]["body_color_original"].value_counts(dropna=False).head(60)

NaN                               205
wählbar - ggf. mit Aufpreis       118
wählbar                            88
Metallic o. Uni (wählbar)          33
wählbar - ggf gegen Aufpreis       25
Other                              14
mitoschwarz                         8
Smaragd Gruen (Mi)                  5
BLANCO ALPINO                       4
verschiedene Farben                 4
wählbar (bei Metallic +)            3
TEINTE CAISS                        3
Rouge Braun                         3
BLACK MEET KETTLE MET-4 (507B)      3
Kosmosblau Metallic                 3
(Silber) - Licht Grau               2
gletscherweiÃŸ                      2
Cronos / Negro Mito                 2
SWITCHBLADE SILVER MET (G)          2
Cortinaweiss                        2
NOIR MYTHIC METAL                   2
BLEU UTOPIA                         2
GDX Darkmoon Blue                   1
GF6 Satin Steel Grey                1
Hellelfenbein RAL 1015              1
SATIN STEEL GRAY MET-4 (501B)       1
Flip Chip met.                      1
GAN Sovereign Silver                1
YOU DRIVE ME GRAZY MET-4(509B)      1
Srebrny                             1
gris nano                           1
rot DeZir-Rot (NNP)                 1
Abalone Weiß                        1
Gris Platine (D69) Noir Etoi        1
GNE NOIR ETOILE                     1
NOIR AMETHYS                        1
Kng - Peinture Metallisee Gris      1
Noir EtoilÃ©                        1
GNE Noir Etoile                     1
ROUGE FLAMME                        1
wählbar -ggfl. mit Aufpreis         1
Gris Givre                          1
(NNP)                               1
Rouge Intens (NPK) Bleu Iron        1
Noir Etoilé (GNE) Gris Titan        1
Gris Titanium (KPN)                 1
ROUGE ATACAM                        1
FARBTON DER KAROSSERIE WEISS G      1
NOIR MTL                            1
GRIS ALU METALISE                   1
Plat.Anthr.                         1
GRJIS UNIVERSO                      1
ApfelgruenP2                        1
GRIS NANO                           1
Chronosgrau Metallic/Mythossch      1
Cortina White                       1
Nanograu Metallic / Brillantsc      1
Nanograu Metallic/Brillantschw      1
BLANC GLACIER / NOIR                1
Misanorot Perleffekt/Daytonagr      1
Name: body_color_original, dtype: int64

In [71]:
df.body_color = df.body_color.fillna(method="bfill")

In [72]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [73]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [74]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [75]:
df[df.paint_type.isnull()]["body_color_original"].value_counts().head(600)

Brillantschwarz                179
Bianco                         163
wählbar - ggf. mit Aufpreis    118
Blanco                         110
Grigio                          91
                              ...
SchneeWeiss/SummitWhite          1
SILBER / GRAU                    1
SUMMIT WHITE                     1
donkergrijs                      1
PLATA BLADE                      1
Name: body_color_original, Length: 600, dtype: int64

In [76]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [77]:

df.paint_type = df.paint_type.fillna(method="ffill")

In [78]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Metallic       15261
Uni/basic        617
Perl effect       41
Name: paint_type, dtype: int64
******************************

In [79]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [80]:
df.drop(columns="body_color_original", inplace=True)

In [82]:
check_df("upholstery")

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Cloth           8423
NaN             3720
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: upholstery, dtype: int64
******************************

In [85]:
check_df("nr._of_doors")

column name :  nr._of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr._of_doors, dtype: int64
******************************

In [86]:
pd.set_option('display.max_rows', 110)
pd.options.display.max_rows = 110

In [88]:

df.groupby(["make", "model", "body_type"])["nr._of_doors"].value_counts(dropna=False).head(50)

make  model  body_type      nr._of_doors
Audi  A1     Compact        5.000            666
                            4.000            207
                            3.000             80
                            2.000             69
                            NaN               17
             Coupe          2.000              1
                            5.000              1
             Other          5.000              8
                            4.000              5
             Sedans         5.000           1048
                            4.000            321
                            3.000            130
                            2.000             29
                            NaN               10
             Station wagon  5.000             17
                            4.000              3
                            3.000              1
             Van            5.000              1
      A2     Off-Road       5.000              1
      A3     Compact        5.000            164
                            3.000             11
                            4.000              6
                            NaN                1
             Convertible    2.000              7
                            5.000              1
             Coupe          3.000              4
             Other          5.000             10
                            3.000              3
                            2.000              2
                            4.000              1
             Sedans         5.000           1953
                            4.000            517
                            3.000             94
                            NaN               24
                            2.000             17
             Station wagon  5.000            169
                            4.000            110
                            NaN                1
                            2.000              1
                            3.000              1
Opel  Astra  Compact        5.000            180
                            4.000              5
             Coupe          3.000              1
                            5.000              1
             Off-Road       5.000              1
             Other          5.000             59
                            4.000              7
                            NaN                1
             Sedans         5.000            797
                            4.000            241
Name: nr._of_doors, dtype: int64

In [89]:
df[(df["make"] == "Opel") & (df["model"] == "Corsa") & (df["body_type"] == "Van")]

,body_type,price_€,vat,km,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,upholstery,nr._of_doors,nr._of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety_&_security,gears,country_version,consumption_comb,consumption_city,consumption_country,age
8952,Van,7900.000,VAT deductible,33633.000,51.000,Used,1.000,0.000,Opel,Corsa,White,Metallic,NaN,NaN,NaN,Manual,1229.000,NaN,1124.000,NaN,Benzine,NaN,NaN,"Air conditioning,Park Distance Control,Parking...",Bluetooth,NaN,"Central door lock,Driver-side airbag,Passenger...",NaN,Austria,NaN,NaN,NaN,3.000
8953,Van,7900.000,VAT deductible,33633.000,51.000,Used,1.000,0.000,Opel,Corsa,White,Metallic,NaN,NaN,NaN,Manual,1229.000,NaN,1124.000,NaN,Benzine,NaN,NaN,"Air conditioning,Park Distance Control,Parking...",Bluetooth,NaN,"Central door lock,Driver-side airbag,Passenger...",NaN,Austria,NaN,NaN,NaN,3.000

In [91]:
df.groupby(["make", "model"])["nr._of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr._of_doors"].mode()[0])).value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr._of_doors, dtype: int64

In [93]:
df["nr._of_doors"] = df.groupby(["make", "model"])["nr._of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr._of_doors"].mode()[0]))

In [95]:
check_df("nr._of_doors")

column name :  nr._of_doors
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr._of_doors, dtype: int64
******************************

In [96]:
check_df("nr._of_seats")

column name :  nr._of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr._of_seats, dtype: int64
******************************

In [98]:
df.groupby(["make", "model"])["nr._of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr._of_seats"].mode()[0])).value_counts(dropna=False)

5.000    14313
4.000     1125
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr._of_seats, dtype: int64

In [101]:
df["nr._of_seats"] = df.groupby(["make", "model"])["nr._of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr._of_seats"].mode()[0]))
check_df("nr._of_seats")

column name :  nr._of_seats
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.000    14313
4.000     1125
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr._of_seats, dtype: int64
******************************

In [102]:
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: cylinders, dtype: int64
******************************

In [103]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).value_counts(dropna=False)

4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64

In [104]:
df["cylinders"] = df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0]))
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64
******************************

In [105]:
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
--------------------------------
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
1598.000     4761
999.000      2438
1398.000     1314
1399.000      749
1229.000      677
1956.000      670
1461.000      595
1490.000      559
NaN           496
1422.000      467
1197.000      353
898.000       351
1395.000      320
1968.000      301
1149.000      288
1618.000      212
1798.000      210
1498.000      196
1600.000      130
1248.000      110
1997.000      103
1364.000      102
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       25
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
997.000         4
1596.000        4
139.000         4
900.000         4
1599.000        3
1199.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64
******************************

In [107]:
df.groupby(["make","model","cylinders", "hp_kW"])["engine_displacement_cc"].value_counts(dropna=False).head(50)

make  model  cylinders  hp_kW    engine_displacement_cc
Audi  A1     3.000      60.000   999.000                   148
                                 929.000                     4
                                 NaN                         2
                        66.000   1422.000                  453
                                 NaN                         5
                                 1596.000                    1
                                 1598.000                    1
                        67.000   1422.000                   12
                        70.000   999.000                   767
                                 NaN                         8
                                 1000.000                    5
                                 998.000                     2
                                 929.000                     1
                                 1197.000                    1
                        71.000   999.000                    53
                                 NaN                         3
                        85.000   999.000                   572
                                 1598.000                   73
                                 1000.000                    8
                                 NaN                         6
                                 995.000                     2
                                 1596.000                    1
                                 1600.000                    1
             4.000      60.000   999.000                     2
                        66.000   1598.000                    3
                                 1422.000                    2
                        70.000   999.000                     7
                                 1000.000                    1
                        85.000   1598.000                  222
                                 NaN                         3
                                 999.000                     1
                                 1600.000                    1
                        86.000   1598.000                    1
                        87.000   1598.000                    4
                        92.000   1395.000                  169
                                 999.000                     2
                                 NaN                         1
                        93.000   1395.000                    3
                        110.000  1498.000                   16
                                 1395.000                   14
                        112.000  1395.000                    1
                        140.000  NaN                         1
                        141.000  1798.000                   16
                        147.000  1984.000                   14
             8.000      70.000   999.000                     1
      A2     4.000      85.000   1598.000                    1
      A3     3.000      85.000   999.000                   361
                                 1000.000                    3
                                 NaN                         1
                                 997.000                     1
Name: engine_displacement_cc, dtype: int64

In [108]:
df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0])).value_counts(dropna=False)

1598.000     4991
999.000      2463
1398.000     1348
1399.000      765
1229.000      708
1956.000      693
1461.000      642
1490.000      579
1422.000      472
898.000       387
1197.000      355
1395.000      325
1968.000      304
1149.000      290
1618.000      215
1798.000      214
1498.000      196
1600.000      130
1248.000      117
1364.000      104
1997.000      103
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       26
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
1596.000        4
139.000         4
900.000         4
997.000         4
1199.000        3
1599.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64

In [109]:
df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))

0       1422.000
1       1798.000
2       1598.000
3       1422.000
4       1422.000
          ...
15914   1997.000
15915   1798.000
15916   1997.000
15917   1997.000
15918   1798.000
Name: engine_displacement_cc, Length: 15919, dtype: float64

In [110]:
df["engine_displacement_cc"] = df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1598.000     4991
999.000      2463
1398.000     1348
1399.000      765
1229.000      708
1956.000      693
1461.000      642
1490.000      579
1422.000      472
898.000       387
1197.000      355
1395.000      325
1968.000      304
1149.000      290
1618.000      215
1798.000      214
1498.000      196
1600.000      130
1248.000      117
1364.000      104
1997.000      103
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       26
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
1596.000        4
139.000         4
900.000         4
997.000         4
1199.000        3
1599.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64
******************************

In [111]:
check_df("weight_kg")

column name :  weight_kg
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight_kg, Length: 435, dtype: int64
******************************

In [112]:
df.weight_kg.mean()

1351.1065399664617

In [113]:
df.weight_kg.median()

1288.0

In [114]:
df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median())).value_counts(dropna=False)

1163.000    1547
1350.000    1147
1623.000     877
1195.000     702
1180.000     694
            ...
1258.000       1
1167.000       1
1331.000       1
1132.000       1
2037.000       1
Name: weight_kg, Length: 440, dtype: int64

In [115]:
df["weight_kg"] = df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))
check_df("weight_kg")

column name :  weight_kg
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
1163.000    1547
1350.000    1147
1623.000     877
1195.000     702
1180.000     694
            ...
1258.000       1
1167.000       1
1331.000       1
1132.000       1
2037.000       1
Name: weight_kg, Length: 440, dtype: int64
******************************

In [116]:
df.weight_kg.mean()

1345.4031346190088

In [117]:
df.weight_kg.median()

1308.0

In [118]:
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64
******************************

In [119]:
df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0])).value_counts(dropna=False)

front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64

In [120]:
df["drive_chain"] = df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0]))
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64
******************************

In [121]:
check_df("co2e_g")

column name :  co2e_g
--------------------------------
Per_of_Nulls   :  % 15.34
Num_of_Nulls   :  2442
NaN         2442
120.000      740
99.000       545
97.000       537
104.000      501
            ...
160.000        1
331.000        1
990.000        1
1060.000       1
193.000        1
Name: co2e_g, Length: 120, dtype: int64
******************************

In [122]:
df.fuel.value_counts()

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: fuel, dtype: int64

In [123]:
df.groupby(["make", "model", "fuel"])["co2e_g"].value_counts(dropna=False)

make     model   fuel     co2e_g
Audi     A1      Benzine  97.000     287
                          NaN        238
                          102.000    229
                          108.000    195
                          111.000    181
                                    ...
Renault  Espace  Diesel   191.000      2
                          117.000      1
                          122.000      1
                          140.000      1
                          174.000      1
Name: co2e_g, Length: 516, dtype: int64

In [124]:
df.groupby(["make", "model", "fuel"])["co2e_g"].mean()

make     model     fuel
Audi     A1        Benzine    106.337
                   Diesel     100.101
         A2        Diesel         NaN
         A3        Benzine    116.421
                   Diesel     106.831
                   Electric    36.000
                   LPG/CNG     97.000
Opel     Astra     Benzine    154.590
                   Diesel     105.849
                   LPG/CNG    113.000
         Corsa     Benzine    136.407
                   Diesel      99.456
                   LPG/CNG    117.667
         Insignia  Benzine    176.918
                   Diesel     132.546
Renault  Clio      Benzine    122.653
                   Diesel      89.530
                   Electric       NaN
                   LPG/CNG     98.000
         Duster    Benzine    177.000
         Espace    Benzine    155.903
                   Diesel     124.425
Name: co2e_g, dtype: float64

In [125]:
df.groupby(["make", "model", "fuel"])["co2e_g"].median()

make     model     fuel
Audi     A1        Benzine    105.000
                   Diesel      99.000
         A2        Diesel         NaN
         A3        Benzine    117.000
                   Diesel     105.000
                   Electric    36.000
                   LPG/CNG     94.000
Opel     Astra     Benzine    125.000
                   Diesel     101.000
                   LPG/CNG    113.000
         Corsa     Benzine    128.000
                   Diesel     101.000
                   LPG/CNG    113.000
         Insignia  Benzine    139.000
                   Diesel     135.000
Renault  Clio      Benzine    120.000
                   Diesel      85.000
                   Electric       NaN
                   LPG/CNG     98.000
         Duster    Benzine    186.000
         Espace    Benzine    153.000
                   Diesel     120.000
Name: co2e_g, dtype: float64

In [126]:
df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median())).value_counts(dropna=False)

120.000      1081
105.000       656
99.000        617
135.000       594
97.000        537
             ...
80.000          1
14.000          1
12324.000       1
51.000          1
193.000         1
Name: co2e_g, Length: 119, dtype: int64

In [127]:
df["co2e_g"] = df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median()))
check_df("co2e_g")

column name :  co2e_g
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
120.000      1081
105.000       656
99.000        617
135.000       594
97.000        537
             ...
80.000          1
14.000          1
12324.000       1
51.000          1
193.000         1
Name: co2e_g, Length: 119, dtype: int64
******************************

In [128]:
check_df("emission_class")

column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 22.79
Num_of_Nulls   :  3628
Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64
******************************

In [129]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].value_counts(dropna=False)

make     model   fuel     age    emission_class
Audi     A1      Benzine  0.000  NaN               266
                                 Euro 6            266
                                 Euro 6d-TEMP      264
                                 Euro 6d             5
                          1.000  Euro 6            323
                                                  ...
Renault  Espace  Diesel   3.000  NaN                65
                                 Euro 6d-TEMP        3
                                 Euro 5              1
                                 Euro 6c             1
                                 Euro 6d             1
Name: emission_class, Length: 243, dtype: int64

In [130]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill").value_counts(dropna=False)

Euro 6          12919
Euro 6d-TEMP     2582
Euro 6c           183
Euro 5             95
Euro 6d            95
Euro 4             45
Name: emission_class, dtype: int64

In [131]:
df["emission_class"] = df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill")
check_df("emission_class")

column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Euro 6          12919
Euro 6d-TEMP     2582
Euro 6c           183
Euro 5             95
Euro 6d            95
Euro 4             45
Name: emission_class, dtype: int64
******************************

In [132]:
check_df("comfort&convenience")

column name :  comfort&convenience
--------------------------------
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort&convenience, Length: 6199, dtype: int64
******************************

In [135]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr._of_doors', 'nr._of_seats', 'gearing_type',
       'engine_displacement_cc', 'cylinders', 'weight_kg', 'drive_chain',
       'fuel', 'co2e_g', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety_&_security', 'gears',
       'country_version', 'consumption_comb', 'consumption_city',
       'consumption_country', 'age'],
      dtype='object')

In [136]:
check_df('safety_&_security')

column name :  safety_&_security
--------------------------------
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4444, dtype: int64
******************************

In [137]:
df.groupby(["make", "model", "age", "body_type"])["safety_&_security"].value_counts(dropna=False)

make     model   age    body_type  safety_&_security
Audi     A1      0.000  Compact    NaN                                                                                                                                                                                                                                                                                                                                               33
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Isofix,Lane departure warning system,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                        30
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights    24
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system                                                                                                              18
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Isofix,Lane departure warning system,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                         14
                                                                                                                                                                                                                                                                                                                                                                                     ..
Renault  Espace  3.000  Van        ABS,Driver-side airbag,Isofix,Passenger-side airbag,Power steering                                                                                                                                                                                                                                                                                 1
                                   ABS,LED Headlights,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                                                1
                                   Alarm system,Central door lock,Daytime running lights,Fog lights,Power steering                                                                                                                                                                                                                                                                    1
                                   Central door lock,Driver-side airbag,Fog lights,Passenger-side airbag,Power steering,Tire pressure monitoring system                                                                                                                                                                                                                               1
                                   Fog lights                                                                                                                                                                                                                                                                                                                                         1
Name: safety_&_security, Length: 7179, dtype: int64

In [139]:
df["safety_&_security"] = df.groupby(["make", "model", "age", "body_type"])["safety_&_security"].fillna(method="pad").fillna(method="backfill")
check_df("safety_&_security")

column name :  safety_&_security
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      551
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 500
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           277
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                277
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                      275
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Power steering,Xenon headlights                                                                                                                                                                                                                     1
ABS,Adaptive headlights,Central door lock,Daytime running lights,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                             1
ABS,Central door lock with remote control,Daytime running lights,Driver-side airbag,Isofix,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system                                                                                                                                               1
ABS,Alarm system,Central door lock with remote control,Driver-side airbag,Electronic stability control,Fog lights,Head airbag,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                       1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4443, dtype: int64
******************************

In [140]:
check_df("gears")

column name :  gears
--------------------------------
Per_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64
******************************

In [141]:
df.groupby(["make", "model", "body_type"])["gears"].fillna(method="ffill").fillna(method = "bfill").value_counts(dropna=False)

6.000     8370
5.000     4398
7.000     2843
8.000      288
9.000       11
3.000        3
1.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64

In [142]:
df.gears = df.groupby(["make", "model", "body_type"])["gears"].fillna(method="ffill").fillna(method = "bfill")
check_df("gears")

column name :  gears
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
6.000     8370
5.000     4398
7.000     2843
8.000      288
9.000       11
3.000        3
1.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64
******************************

In [143]:
check_df("country_version")

column name :  country_version
--------------------------------
Per_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64
******************************

In [144]:
df.groupby(["make", "model", "body_type"])["country_version"].value_counts(dropna=False).head(50)

make  model  body_type      country_version
Audi  A1     Compact        Germany             448
                            NaN                 426
                            Netherlands          68
                            European Union       58
                            Denmark              15
                            Italy                 8
                            Austria               5
                            Belgium               5
                            France                2
                            Poland                2
                            Romania               1
                            Spain                 1
             Coupe          NaN                   2
             Other          NaN                   7
                            Italy                 5
                            Germany               1
             Sedans         NaN                 948
                            Germany             314
                            Italy               143
                            Spain                61
                            Belgium              43
                            Austria              14
                            European Union        9
                            France                3
                            Luxembourg            1
                            Slovakia              1
                            Switzerland           1
             Station wagon  NaN                  16
                            Germany               4
                            Spain                 1
             Van            NaN                   1
      A2     Off-Road       Germany               1
      A3     Compact        NaN                 131
                            Netherlands          33
                            Belgium              12
                            Germany               3
                            Austria               2
                            Italy                 1
             Convertible    NaN                   4
                            Italy                 2
                            Netherlands           2
             Coupe          NaN                   2
                            Belgium               1
                            Italy                 1
             Other          NaN                  14
                            Italy                 2
             Sedans         NaN                1624
                            Italy               334
                            Germany             306
                            European Union      173
Name: country_version, dtype: int64

In [145]:
df.country_version.fillna(value="Unknown").value_counts(dropna=False)

Unknown           8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [146]:
df.country_version = df.country_version.fillna(value="Unknown")

In [147]:
check_df("country_version")

column name :  country_version
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Unknown           8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64
******************************

In [148]:
check_df("consumption_comb")

column name :  consumption_comb
--------------------------------
Per_of_Nulls   :  % 23.81
Num_of_Nulls   :  3790
NaN       3790
5.400      769
3.900      733
5.100      654
4.400      623
5.600      618
4.700      602
3.800      585
4.800      546
4.500      523
5.200      454
4.200      435
4.600      426
4.900      393
5.500      380
5.300      379
5.900      369
3.700      369
5.700      342
4.100      342
4.300      307
3.300      298
3.500      285
6.200      216
3.600      193
6.300      181
6.100      175
5.800      164
6.600      148
6.800      136
3.400       94
6.400       75
7.400       66
6.500       43
6.700       43
7.100       38
6.900       27
3.200       25
8.300       19
7.600       14
3.100        7
7.800        6
7.200        6
8.600        4
1.600        3
8.700        3
7.900        3
7.300        2
8.100        2
7.500        1
9.100        1
1.200        1
13.800       1
Name: consumption_comb, dtype: int64
******************************

In [149]:
check_df("consumption_city")

column name :  consumption_city
--------------------------------
Per_of_Nulls   :  % 25.37
Num_of_Nulls   :  4039
NaN       4039
5.800      630
4.500      577
4.300      512
5.100      479
6.800      453
7.200      445
7.300      435
4.600      417
7.800      413
5.900      389
5.700      376
4.200      353
6.600      352
6.700      346
5.200      345
6.300      338
5.400      321
4.100      320
4.700      289
7.500      267
7.100      258
7.600      248
3.900      245
3.500      230
6.900      223
5.500      216
6.200      211
7.700      204
7.400      179
6.500      161
8.700      161
6.100      152
8.200      140
4.400      135
6.400      121
5.600      104
5.300      101
7.900      101
4.800       72
4.900       58
3.700       53
3.400       50
9.600       42
8.600       42
8.300       41
8.500       39
9.200       34
3.300       30
3.800       26
8.100       25
10.200      21
11.300      19
9.900       15
9.400       14
9.100       12
8.400        7
9.800        5
8.900        4
11.500       4
11.200       4
9.500        3
10.800       3
10.100       2
8.800        2
3.600        2
10.400       1
16.100       1
19.900       1
9.700        1
Name: consumption_city, dtype: int64
******************************

In [150]:
check_df("consumption_country")

column name :  consumption_country
--------------------------------
Per_of_Nulls   :  % 21.14
Num_of_Nulls   :  3365
NaN       3365
4.200     1178
3.700     1089
4.400      898
4.500      847
3.800      802
3.900      777
4.700      612
4.100      592
3.500      525
4.300      520
4.600      515
3.600      486
4.900      481
3.100      481
3.300      457
3.400      353
4.800      341
5.300      278
5.400      239
5.100      232
5.700      204
3.200      180
5.600      154
5.200      117
6.300       52
5.500       36
5.800       30
7.700       20
6.600       19
6.400       15
6.500        4
7.300        4
7.100        3
6.700        2
6.100        2
5.900        2
7.800        2
2.900        1
10.300       1
8.600        1
6.900        1
7.600        1
Name: consumption_country, dtype: int64
******************************

In [151]:
df[df.consumption_city.isnull()][["consumption_comb", "consumption_country"]].value_counts()

consumption_comb  consumption_country
4.200             3.700                  303
4.600             4.400                  112
4.900             4.200                  110
3.500             3.200                  109
3.600             3.300                   74
5.500             4.600                   47
4.300             3.700                   44
5.100             4.600                   34
4.100             3.600                   33
3.500             3.300                   30
5.600             4.800                   28
6.300             5.300                   28
5.500             4.700                   26
5.300             4.300                   23
5.400             4.600                    9
4.800             4.100                    9
                  4.200                    6
3.600             4.100                    6
5.600             4.700                    6
5.400             4.400                    6
5.300             4.900                    4
5.200             4.700                    3
6.200             5.200                    3
4.300             3.800                    3
5.100             4.500                    3
3.400             3.100                    2
4.900             4.300                    2
3.300             3.300                    2
5.200             4.800                    2
5.400             4.500                    2
3.700             3.400                    2
3.600             4.700                    2
5.600             4.600                    1
5.700             4.700                    1
                  4.900                    1
5.900             4.600                    1
6.100             5.100                    1
3.100             3.500                    1
5.200             4.400                    1
4.700             8.600                    1
3.400             3.200                    1
3.600             4.400                    1
3.700             3.300                    1
                  3.500                    1
3.900             3.300                    1
                  3.600                    1
4.200             4.900                    1
                  5.800                    1
                  7.800                    1
4.300             5.600                    1
                  6.500                    1
4.400             3.700                    1
                  3.900                    1
                  6.900                    1
3.300             3.100                    1
6.500             5.700                    1
dtype: int64

In [152]:
df.consumption_city.mean()

5.9730471380471375

In [153]:
df.consumption_comb.mean()

4.860722235963394

In [154]:
df.consumption_country.mean()

4.2141070575115505

In [156]:
df.groupby(["make", "model", "cylinders", "weight_kg", "body_type", "fuel"])["consumption_city"].mean().head(50)

make  model  cylinders  weight_kg  body_type      fuel
Audi  A1     3.000      102.000    Compact        Benzine   5.600
                        1010.000   Compact        Benzine     NaN
                                   Coupe          Benzine     NaN
                                                  Diesel      NaN
                        1035.000   Compact        Benzine     NaN
                                   Sedans         Benzine     NaN
                        1040.000   Compact        Benzine   5.400
                        1060.000   Sedans         Benzine     NaN
                        1065.000   Compact        Benzine   5.427
                                   Sedans         Benzine   5.400
                        1088.000   Sedans         Benzine     NaN
                        1090.000   Compact        Benzine   5.400
                                   Sedans         Benzine   5.400
                                                  Diesel      NaN
                        1094.000   Sedans         Benzine     NaN
                        1097.000   Sedans         Benzine     NaN
                        1100.000   Compact        Benzine   5.400
                        1105.000   Compact        Diesel    4.150
                                   Sedans         Benzine     NaN
                        1110.000   Compact        Benzine   5.200
                                   Sedans         Benzine   5.467
                        1114.000   Sedans         Benzine     NaN
                        1115.000   Sedans         Benzine     NaN
                        1118.000   Sedans         Benzine     NaN
                        1120.000   Sedans         Diesel    3.960
                        1125.000   Sedans         Benzine     NaN
                                   Station wagon  Benzine     NaN
                        1130.000   Sedans         Diesel    3.975
                        1133.000   Compact        Benzine   5.800
                                   Sedans         Benzine     NaN
                        1134.000   Compact        Benzine     NaN
                                   Sedans         Benzine   5.150
                        1135.000   Compact        Benzine   5.239
                                   Sedans         Benzine   5.307
                                   Station wagon  Benzine   5.200
                        1136.000   Sedans         Benzine   5.900
                        1138.000   Compact        Benzine   5.800
                                   Sedans         Benzine     NaN
                        1140.000   Compact        Benzine   5.200
                                   Sedans         Benzine   5.400
                        1141.000   Sedans         Benzine     NaN
                        1142.000   Sedans         Benzine     NaN
                        1144.000   Sedans         Benzine     NaN
                        1145.000   Sedans         Diesel    4.450
                        1146.000   Sedans         Benzine     NaN
                        1147.000   Compact        Benzine   5.800
                                   Sedans         Benzine     NaN
                        1150.000   Compact        Benzine   5.900
                        1155.000   Sedans         Benzine     NaN
                        1156.000   Sedans         Benzine     NaN
Name: consumption_city, dtype: float64

In [157]:
df["consumption_city"].fillna(abs(df["consumption_comb"] - df["consumption_country"]*0.62)/0.38)

0       4.300
1       7.100
2       4.400
3       4.300
4       4.600
         ...
15914   6.200
15915   9.200
15916   6.200
15917   6.200
15918   8.700
Name: consumption_city, Length: 15919, dtype: float64

In [158]:
df["consumption_city"] = df["consumption_city"].fillna(abs(df["consumption_comb"] - df["consumption_country"]*0.62)/0.38)
df["consumption_city"].mean()

5.913447273110726

In [159]:
check_df("consumption_city")

column name :  consumption_city
--------------------------------
Per_of_Nulls   :  % 18.48
Num_of_Nulls   :  2942
NaN       2942
5.800      630
4.500      577
4.300      512
5.100      479
          ...
16.100       1
7.732        1
0.711        1
4.353        1
9.700        1
Name: consumption_city, Length: 125, dtype: int64
******************************

In [160]:
df["consumption_country"].fillna(abs((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62))

0       3.500
1       4.700
2       3.400
3       3.500
4       3.800
         ...
15914   4.700
15915   6.300
15916   4.700
15917   4.700
15918   5.700
Name: consumption_country, Length: 15919, dtype: float64

In [161]:
df["consumption_country"] = df["consumption_country"].fillna(abs((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62))
df["consumption_country"].mean()

4.2171319184929255

In [162]:
check_df("consumption_country")

column name :  consumption_country
--------------------------------
Per_of_Nulls   :  % 18.07
Num_of_Nulls   :  2876
NaN       2876
4.200     1178
3.700     1089
4.400      898
4.500      847
3.800      802
3.900      777
4.700      612
4.100      592
3.500      525
4.300      520
4.600      515
3.600      486
4.900      481
3.100      481
3.300      457
3.400      353
4.800      341
5.300      278
5.400      239
5.100      232
5.700      204
3.200      180
5.600      154
5.200      117
4.026       93
6.300       52
4.981       42
3.948       41
5.500       36
3.910       32
3.971       31
3.965       31
5.800       30
3.981       24
3.987       22
3.926       20
7.700       20
4.919       19
6.600       19
6.052       17
6.400       15
5.858       11
3.765       11
4.748        9
4.010        8
4.048        8
3.916        8
2.916        6
4.990        5
5.797        4
6.500        4
7.300        4
4.042        4
4.071        4
4.126        4
4.761        3
2.994        3
7.100        3
6.700        2
6.594        2
6.100        2
5.900        2
7.800        2
4.890        2
2.832        2
3.077        2
4.574        1
6.158        1
5.619        1
6.823        1
7.600        1
5.881        1
6.900        1
10.110       1
4.942        1
3.565        1
7.006        1
8.600        1
3.942        1
6.103        1
2.894        1
3.787        1
6.739        1
5.242        1
3.671        1
4.952        1
3.116        1
4.974        1
2.900        1
3.371        1
10.300       1
4.971        1
Name: consumption_country, dtype: int64
******************************

In [163]:
df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

0       3.800
1       5.600
2       3.800
3       3.800
4       4.100
         ...
15914   5.300
15915   7.400
15916   5.300
15917   5.300
15918   6.800
Name: consumption_comb, Length: 15919, dtype: float64

In [164]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))
check_df("consumption_comb")

column name :  consumption_comb
--------------------------------
Per_of_Nulls   :  % 15.64
Num_of_Nulls   :  2490
NaN      2490
5.400     769
3.900     733
5.100     654
4.400     623
         ...
7.500       1
3.780       1
5.074       1
4.282       1
5.098       1
Name: consumption_comb, Length: 116, dtype: int64
******************************

In [166]:
df.consumption_city = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_city"].fillna(method="ffill").fillna(method="bfill")

In [167]:
df.consumption_country = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_country"].fillna(method="ffill").fillna(method="bfill")

In [169]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

In [170]:
check_df("consumption_comb"), check_df("consumption_country") ,check_df("consumption_city")

column name :  consumption_comb
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.400    772
3.900    733
5.100    659
4.400    653
5.600    623
        ...
5.394      1
5.174      1
5.864      1
6.392      1
5.432      1
Name: consumption_comb, Length: 319, dtype: int64
******************************



column name :  consumption_country
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
4.200     1469
3.700     1264
4.400     1210
4.500     1081
3.800      962
3.900      956
4.700      748
4.100      711
4.600      633
3.500      623
3.300      619
4.300      613
3.600      584
3.100      580
4.900      555
3.400      426
4.800      400
5.300      329
5.100      263
5.400      255
5.700      230
3.200      223
5.600      189
5.200      135
4.026      115
6.300       62
3.910       54
3.948       50
4.981       47
3.971       45
3.981       39
5.500       38
3.965       37
5.800       34
2.894       24
3.987       22
6.600       21
3.926       21
7.700       20
4.919       19
6.052       18
6.400       15
4.748       14
3.671       14
3.765       13
4.048       11
5.858       11
3.916        9
4.010        9
4.761        8
4.990        6
2.916        6
7.800        5
4.042        5
7.300        4
4.126        4
4.071        4
6.500        4
2.994        4
5.797        4
8.600        3
7.100        3
2.832        2
6.100        2
5.900        2
6.594        2
3.077        2
4.890        2
6.700        2
10.110       2
2.900        2
4.942        1
6.823        1
5.619        1
7.600        1
5.881        1
6.158        1
4.574        1
3.116        1
6.900        1
7.006        1
3.942        1
6.103        1
3.787        1
6.739        1
5.242        1
4.952        1
3.565        1
4.974        1
3.371        1
10.300       1
4.971        1
Name: consumption_country, dtype: int64
******************************



column name :  consumption_city
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
5.800    750
5.100    679
4.500    667
4.300    591
7.200    562
        ...
7.732      1
8.021      1
2.179      1
4.353      1
9.700      1
Name: consumption_city, Length: 124, dtype: int64
******************************

(None, None, None)

In [171]:
df.to_csv("filled_autoscout.csv", index=False)